.index_top{
  height: 70px;
  /*border: 1px solid red;*/
  /*background: url("../images/index_top.jpg") repeat-x;*/
  text-align: left;
  background-color: #579fe9;
}
.top_bottom{
  height: 20px;
  background: url("../images/top_bootom3.png") repeat-x;
}
.left{
  width:20%;
  float:left;
  height: 900px;
  background-color: #333333;
}
.right{
  width:80%;
  float: right;
  background-color: #97cbff;
  height: 900px;

}
.footer{
  clear: both;
  height: 30px;
  background-color: #579fe9;
}
.footer h2{
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color:#e5e5e5;
}
.nav_url{
  background-color: #97cbff;
  cursor: pointer;
}
.nav_url:hover{
  background-color: #b7d2ff;
}
#menu{
  width: 100%;
}
